In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import keras

Using TensorFlow backend.

In [2]:
columns = ['id','daytime','power']
data1 = pd.read_csv('File1.txt',sep = ' ',names = columns)
data1['day']=data1['daytime'][:]
data1['time'] = data1['daytime'][:]
data1['day'] = data1['day']/100
data1['day'] = np.int64(data1['day'])
data1['time']= data1['time']%100
data1['time'] = np.int64(data1['time'])
data1=data1.drop(columns= ['daytime'])
data1 = data1[(data1.day<200) & (data1.day>=195)]

In [3]:
data1

          id  power  day  time
0       1392  0.140  195     3
1       1392  0.138  195     4
2       1392  0.140  195     5
3       1392  0.145  195     6
4       1392  0.145  195     7
...      ...    ...  ...   ...
281803  1703  0.246  199     4
281804  1703  0.366  199     5
281805  1703  0.243  199     2
281806  1703  0.246  199     3
281807  1703  0.232  199     6

[234864 rows x 4 columns]